@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
}

h3, p, li {
  color: #F1FAEE;
}

h1, h2 {
  color: #A8DADC;
  font-weight: bold;
}

.footer ul a:hover,
.footer ul a:focus {
  background-color: #E63946;
}
/* Curve Navbar */
.curve-divider-navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.curve-divider-navbar svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 10px;
}

.curve-divider-navbar .shape-fill {
  fill: #1D3557;
}

/* Wavy Hero */
.wavy-divider-hero {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.wavy-divider-hero svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 50px;
}

.wavy-divider-hero .shape-fill {
  fill: #457B9D;
}

/* Wavy Bio */
.wavy-divider-bio {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.wavy-divider-bio svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 30px;
}

.wavy-divider-bio .shape-fill {
  fill: #457B9D;
}

/* Wavy Footer */
.wave-divider-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.wave-divider-footer svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 50px;
}

.wave-divider-footer .shape-fill {
  fill: #1D3557;
}

/* .portfolio-item-wrapper {
  width: min(1200px, 90%);
} */

.portfolio-item-transition {
  max-width: 100%;
  height: auto;
  aspect-ratio: 4.5/1;
}

.portfolio-item-cover-left, .portfolio-item-cover-right, .portfolio-item-content-left, .portfolio-item-content-right {
  position: absolute;
  inset: 0;
  background-size: cover;
}

/* Portfolio Item - Urankar Law (imgPosition === right) */
.portfolio-item-transition:is(:hover, :focus) .portfolio-item-content-right {
  -webkit-mask-position: right;
  transition: -webkit-mask-position 0.5s linear;
}

.portfolio-item-cover-right {
  background-image: url('/img/Urankar-Law-Thumbnail-test.png');
} 

.portfolio-item-content-right {
  -webkit-mask-image: linear-gradient(to right, transparent 47.5%, #fff 52.5%);
  -webkit-mask-size: 210%;
  -webkit-mask-position: left;
}

/* Portfolio Item - Discing Up (imgPosition === left) */
.portfolio-item-transition:is(:hover, :focus) .portfolio-item-content-left {
  -webkit-mask-position: left;
  transition: -webkit-mask-position 0.5s linear;
}

.portfolio-item-cover-left {
  background-image: url('/img/discing-up-thumbnail-test.png');
  background-position: center;
} 

.portfolio-item-content-left {
  -webkit-mask-image: linear-gradient(to left, transparent 47.5%, #fff 52.5%);
  -webkit-mask-size: 210%;
  -webkit-mask-position: right;
}