.linkedin-logo {
  color: #A8DADC;
}

li:hover .linkedin-logo .inner {
  color: #E63946;
}

.linkedin-logo .outer {
  fill: #F1FAEE;
}

.linkedin-logo .inner {
  fill: currentColor;
}

.linkedin-logo .outer, .linkedin-logo .inner {
  fill-rule: evenodd;
}

.footer ul a:hover,
.footer ul a:focus {
  background-color: #E63946;
}
