.linkedin-logo {
  color: #1D3557;
}

li:hover .linkedin-logo .inner {
  color: #B32D38;
}

.linkedin-logo .outer {
  fill: #F1FAEE;
}

.linkedin-logo .inner {
  fill: currentColor;
}

.linkedin-logo .outer, .linkedin-logo .inner {
  fill-rule: evenodd;
}

.footer ul li:hover,
.footer ul li:focus {
  background-color: #B32D38;
}
